<ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion" id="accordionSidebar">

    <!-- Sidebar - Brand -->
    <a class="sidebar-brand d-flex align-items-center justify-content-center" href="/">
      <div class="sidebar-brand-icon rotate-n-15">
        <i class="fas fa-laugh-wink"></i>
      </div>
      <div class="sidebar-brand-text mx-3">Kero Admin</div>
    </a>

    <!-- Divider -->
    <hr class="sidebar-divider my-0">

    <!-- Nav Item - Dashboard -->
    <li class="nav-item active">
      <a class="nav-link" href="/">
        <i class="fas fa-fw fa-tachometer-alt"></i>
        <span>Dashboard</span></a>
    </li>
    <li class="nav-item ">
      <a class="nav-link" href="/logout">
        <span>Logout</span></a>
    </li>

    <!-- Divider -->
    <hr class="sidebar-divider">

    <!-- Heading -->
    <div class="sidebar-heading">
      Gestión
    </div>

    <!-- Nav Item - Tables
    <li class="nav-item {{ 'active' if current_page=='users' else '' }}">
      <a class="nav-link" href="/usuarios">
        <i class="fas fa-fw fa-table"></i>
        <span>Usuarios</span></a>
    </li>

    <li class="nav-item {{ 'active' if current_page=='groups' else '' }}">
      <a class="nav-link" href="/grupos">
        <i class="fas fa-fw fa-table"></i>
        <span>Grupos</span></a>
    </li>-->

    <!-- Nav Item - Pages Collapse Menu -->
    <li class="nav-item">
      <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
        <i class="fas fa-fw fa-cog"></i>
        <span>Usuarios</span>
      </a>
      <div id="collapseOne" class="collapse" aria-labelledby="headingOne" data-parent="#accordionSidebar">
        <div class="bg-white py-2 collapse-inner rounded">
          <!--<h6 class="collapse-header">Custom Components:</h6>-->
          <a class="collapse-item" href="/new_user">Crear usuario nuevo</a>
          <a class="collapse-item" href="/users">Ver listado</a>
        </div>
      </div>
    </li>

    <!-- Nav Item - Pages Collapse Menu -->
    <li class="nav-item">
      <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="true" aria-controls="collapseTwo">
        <i class="fas fa-fw fa-cog"></i>
        <span>Grupos</span>
      </a>
      <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionSidebar">
        <div class="bg-white py-2 collapse-inner rounded">
          <!--<h6 class="collapse-header">Custom Components:</h6>-->
          <a class="collapse-item" href="/new_group">Crear grupo nuevo</a>
          <a class="collapse-item" href="/groups">Ver listado</a>
        </div>
      </div>
    </li>
    <hr class="sidebar-divider">
    <div class="sidebar-heading">
      Monitoreo
    </div>

    <!-- Nav Item - Charts -->
    <li class="nav-item {{ 'active' if current_page=='pods' else '' }}">
      <a class="nav-link" href="/monitor/pods">
        <i class="fas fa-fw fa-chart-area"></i>
        <span>Estado de los pods</span></a>
    </li>

    <!-- Nav Item - Charts -->
    <li class="nav-item {{ 'active' if current_page=='services' else '' }}">
      <a class="nav-link" href="/monitor/services">
        <i class="fas fa-fw fa-chart-area"></i>
        <span>Estado de los services</span></a>
    </li>

    <!-- Divider -->
    <hr class="sidebar-divider d-none d-md-block">

    <!-- Sidebar Toggler (Sidebar) -->
    <div class="text-center d-none d-md-inline">
      <button class="rounded-circle border-0" id="sidebarToggle"></button>
    </div>

  </ul>